body {
	background-color: #eeebec;
	font-family: 'Montserrat', Helvetica, sans-serif;
	line-height: 1.4;
	margin-top: 0;
	padding: 0;
}

h1 {
	font-family: $serif;
	font-weight: 700;
	margin: 0;
	padding: 0;
	color: #fff;
}

.selected {
	color: #c9c48a !important;
}

.sbutton {
	border-radius: 5px;
	border: 2px solid #b0a66b;
	display: block;
	width: 110px !important;
	padding: 5px 7px !important;
}