$serif: 'Averia Serif Libre', Times, serif;
$sans-serif: 'Montserrat', Helvetica, sans-serif;

$small: 480px;
$smallish: 585px;
$notsmall: 720px;
$medium: 820px;
$mediumish: 900px;
$large: 1024px;
$xlarge: 1200px;