
.aboutContent {
	margin: 0 auto;
	background-color: #eeebec;
	margin: 0 auto;
	text-align: center;
	color: #374a49;

	img {
		max-width: 100%;
	}
}

.aboutintro {

	h2 {
		font-family: $serif;
		font-size: 2em;
	}
}